extends layout

block content
  .container
    .row.py-5.mb-5
      .col-3.text-light.bg-dark
        table.table
          thead
            tr
              th.d-flex.justify-content-between.pt-3
                span Online Users
                form(action="logout", method="POST")
                  a.text-muted(href="#", onclick="this.parentNode.submit()") Logout
          tbody#usernames
      .col-9
        ul.list-group#messages
          each message in messages
            li.list-group-item.borderless.py-0
              .d-flex.justify-content-between
                if message.username == user.username
                  b.text-secondary= message.username
                else
                  b= message.username
                span.text-muted= message.createdAt.toLocaleString('en-US')
              span!= converter.makeHtml(message.body)
    nav.navbar.fixed-bottom.mb-3
      .container
        .col-lg-6.col-md-8.col-sm-10.mx-auto
          .input-group
            span.input-group-addon#username= user.username
            textarea.form-control#message-body(rows="1" autofocus tabindex="1")

  script(src="//code.jquery.com/jquery-3.2.1.slim.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.0/autosize.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/main.js")
